* {
  box-sizing: border-box;
}

/* .heading {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: center;
  margin: auto;
  padding-top: 10px;
}

.form-container {
  background-color: cornsilk;
}

input {
  width: 200px;
}

.button {
  color: black;
  background-color: #dfd9d2;
}

option {
  background-color: #dfd9d2;
  color: #3a4a4d;
}

.main-container {
  background-color: burlywood;
  background-image: url(https://image.freepik.com/free-vector/bright-background-with-dots_1055-3132.jpg);
  width: 500px;
  height: 700px;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 10%;
}

.footer {
  text-align: ;
} */
